* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "vibes";
  src: url("./fonts/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "frankm";
  src: url("./fonts/FrankRuhlLibre-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "frankr";
  src: url("./fonts/FrankRuhlLibre-Regular.ttf") format("truetype");
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 40rem;
  width: 40%;
}
#logo {
  font-family: "vibes", serif;
  flex: 2 1 40rem;
  font-size: 2.7rem;
  padding-left: 5%;
}

li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  font-weight: lighter;
  font-family: "frankm", sans-serif;
}
.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 4px;
  color: rgba(144, 98, 114, 255);
}
.main-head nav {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.hero {
  height: 92vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.hero-images {
  /* height: 1rem; */
  background-color: rgb(128, 128, 128, 0.3);
  width: 40%;
  margin-left: -22%;
  position: relative;
  z-index: -999999999;

  /* background-size: cover; */
}
.hero-elena {
  max-width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  /* background-size: cover; */
}
.plant {
  width: 63%;
  z-index: -5555;
}
.plant1 {
  /* margin-top: 18.6rem; */
  margin-left: -23.6%;
  /* margin-bottom: -23%; */
  animation: opac 4s;
  position: absolute;
  bottom: 0px;
}
.plant2 {
  width: 47.2%;
  height: 75%;

  /* margin-bottom: 5%; */
  /* margin-top: 18rem; */
  animation: opac 4s;
  position: absolute;
  bottom: 4rem;
  left: 52.8%;
}
.hero-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -12%;
}
.hero-introduction h2 {
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  font-family: "frankm", sans-serif;
}
.hero-introduction p {
  font-size: 2rem;
  /* font-weight: 100; */
  text-align: center;
  font-family: "frankr", sans-serif;
  width: 40%;
  padding: 3%;
}
.hero-introduction a {
  text-decoration: none;
  font-family: "frankr", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 2rem;
  border: 2px solid #000;
  width: 15rem;
  height: 4.5rem;
  text-align: center;
  padding-top: 0.8rem;
}
.hero-introduction a:hover {
  background-color: rgb(128, 128, 128, 0.7);
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* .about-text {
} */

.about-image img {
  /* height: 100vh; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-image h5 {
  position: absolute;
  font-weight: 100;
  letter-spacing: 12px;
  font-size: 2rem;
  font-family: "frankm", sans-serif;
  margin-top: 10%;
  margin-left: 8%;
}
#about {
  display: flex;
  height: 100vh;
  width: 100%;
}
.about-text {
  background-color: rgba(65, 65, 65, 255);
  width: 100%;
  /* height: 100vh; */
  color: white;
  padding: 5%;
  padding-left: 5rem;
}
.about-text h2 {
  font-family: "vibes", serif;
  font-size: 3.5rem;
  font-weight: 500;

  text-align: center;
}
.about-text h3 {
  font-family: "frankm", sans-serif;
  font-size: 3.3rem;
  font-weight: 500;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 1%;
}
.about-text p {
  font-family: "frankr", sans-serif;
  font-size: 2.8rem;
  width: 70%;
  padding-left: 5%;
}
.gallery {
  /* display: grid; */
  height: 100vh;
  max-width: 100%;
  /* grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 0ch;
  padding: 0%; */
  overflow: hidden;
}
/* .gal {
  width: 25%;
  height: 25%;
} */
.gallery1 {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* grid-column: 1 / span 2;
  grid-row: 1; */
  width: 65%;
  height: 50%;
  /* width: 60%;
  margin-bottom: 41%; */
}
.gallery3,
.gallery4 {
  /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; */
  margin-top: -3.5px;
  height: 50vh;
  width: 32.5%;

  position: absolute;
  /* width: 10%; */
}
.gallery4 {
  margin-left: 32.5%;
  /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */
}
.gallery2 {
  /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
  /* grid-column: 3;
    grid-row: 1 / span 2; */
  height: 100vh;
  width: 35%;
  margin-left: 0%;
  margin-top: 0%;
  position: absolute;
  /* width: 34%; */
}

.contact {
  height: 92vh;
  width: 100%;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
#imge {
  width: 52%;
  height: 100%;
}
.contact img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* margin-left: -30%; */
  /* margin-right: 10%; */
}
.form-wrapper {
  width: 50%;
  height: 50vh;
  margin: 20%;
}
.form-wrapper h2 {
  font-family: "frankm", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  padding-left: 8rem;
  padding-bottom: 2rem;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-wrapper span {
  color: rgba(144, 98, 114, 255);
  font-size: 4.5rem;
  letter-spacing: 2px;
}
.form-wrapper label {
  font-size: 2rem;
  padding-top: 2rem;
}
.form-wrapper input {
  background-color: rgba(65, 65, 65, 255);
  height: 4rem;
  width: 28rem;
  border: none;
  margin-top: 2rem;
  color: white;
}
.form-wrapper button {
  margin-top: 2rem;
  background-color: rgba(144, 98, 114, 255);
  height: 4rem;
  width: 28rem;
  border: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.form-wrapper button:hover {
  opacity: 0.8;
}
footer {
  background-color: rgba(65, 65, 65, 255);
  height: 8vh;
  display: flex;
}
footer h4 {
  padding-top: 1.5%;
  padding-left: 5rem;
  flex: 2 1 30rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
}
footer ul {
  flex: 1 1 30rem;
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
  height: 100%;
}
footer img {
  width: 2rem;
}
@media screen and (max-width: 1520px) {
  .about-text p {
    font-size: 2rem;
  }
  .about-text {
    padding: 1rem;
  }

  .hero-images {
    /* height: 1rem; */
    background-color: rgb(128, 128, 128, 0.3);
    width: 40%;
    margin-left: -22%;
    position: relative;

    /* background-size: cover; */
  }

  .contact img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    /* margin-left: -25%; */
    /* margin-right: 10%; */
  }
  .form-wrapper {
    width: 50%;
    height: 50vh;
    margin: 15%;
  }
  #imge {
    width: 65%;
    height: 100%;
  }
}
@media screen and (max-width: 720px) {
  .about-text p {
    font-size: 1.5rem;
  }
  .plant {
    display: none;
  }
  .about-text h3 {
    font-size: 2rem;
  }
}
